// Generated by swift-openapi-generator, do not modify.
@_spi(Generated) import OpenAPIRuntime
#if os(Linux)
@preconcurrency import struct Foundation.URL
@preconcurrency import struct Foundation.Data
@preconcurrency import struct Foundation.Date
#else
import struct Foundation.URL
import struct Foundation.Data
import struct Foundation.Date
#endif
import HTTPTypes
/// GitHub's v3 REST API.
public struct Client: APIProtocol {
    /// The underlying HTTP client.
    private let client: UniversalClient
    /// Creates a new client.
    /// - Parameters:
    ///   - serverURL: The server URL that the client connects to. Any server
    ///   URLs defined in the OpenAPI document are available as static methods
    ///   on the ``Servers`` type.
    ///   - configuration: A set of configuration values for the client.
    ///   - transport: A transport that performs HTTP operations.
    ///   - middlewares: A list of middlewares to call before the transport.
    public init(
        serverURL: Foundation.URL,
        configuration: Configuration = .init(),
        transport: any ClientTransport,
        middlewares: [any ClientMiddleware] = []
    ) {
        self.client = .init(
            serverURL: serverURL,
            configuration: configuration,
            transport: transport,
            middlewares: middlewares
        )
    }
    private var converter: Converter {
        client.converter
    }
    /// Get organization assignments
    ///
    /// Get all organizations assigned to an enterprise team
    ///
    /// - Remark: HTTP `GET /enterprises/{enterprise}/teams/{enterprise-team}/organizations`.
    /// - Remark: Generated from `#/paths//enterprises/{enterprise}/teams/{enterprise-team}/organizations/get(enterprise-team-organizations/get-assignments)`.
    public func enterpriseTeamOrganizationsGetAssignments(_ input: Operations.EnterpriseTeamOrganizationsGetAssignments.Input) async throws -> Operations.EnterpriseTeamOrganizationsGetAssignments.Output {
        try await client.send(
            input: input,
            forOperation: Operations.EnterpriseTeamOrganizationsGetAssignments.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/enterprises/{}/teams/{}/organizations",
                    parameters: [
                        input.path.enterprise,
                        input.path.enterpriseTeam
                    ]
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                try converter.setQueryItemAsURI(
                    in: &request,
                    style: .form,
                    explode: true,
                    name: "per_page",
                    value: input.query.perPage
                )
                try converter.setQueryItemAsURI(
                    in: &request,
                    style: .form,
                    explode: true,
                    name: "page",
                    value: input.query.page
                )
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.EnterpriseTeamOrganizationsGetAssignments.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            [Components.Schemas.OrganizationSimple].self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// Add organization assignments
    ///
    /// Assign an enterprise team to multiple organizations.
    ///
    /// - Remark: HTTP `POST /enterprises/{enterprise}/teams/{enterprise-team}/organizations/add`.
    /// - Remark: Generated from `#/paths//enterprises/{enterprise}/teams/{enterprise-team}/organizations/add/post(enterprise-team-organizations/bulk-add)`.
    public func enterpriseTeamOrganizationsBulkAdd(_ input: Operations.EnterpriseTeamOrganizationsBulkAdd.Input) async throws -> Operations.EnterpriseTeamOrganizationsBulkAdd.Output {
        try await client.send(
            input: input,
            forOperation: Operations.EnterpriseTeamOrganizationsBulkAdd.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/enterprises/{}/teams/{}/organizations/add",
                    parameters: [
                        input.path.enterprise,
                        input.path.enterpriseTeam
                    ]
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .post
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                let body: OpenAPIRuntime.HTTPBody?
                switch input.body {
                case let .json(value):
                    body = try converter.setRequiredRequestBodyAsJSON(
                        value,
                        headerFields: &request.headerFields,
                        contentType: "application/json; charset=utf-8"
                    )
                }
                return (request, body)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.EnterpriseTeamOrganizationsBulkAdd.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            [Components.Schemas.OrganizationSimple].self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// Remove organization assignments
    ///
    /// Unassign an enterprise team from multiple organizations.
    ///
    /// - Remark: HTTP `POST /enterprises/{enterprise}/teams/{enterprise-team}/organizations/remove`.
    /// - Remark: Generated from `#/paths//enterprises/{enterprise}/teams/{enterprise-team}/organizations/remove/post(enterprise-team-organizations/bulk-remove)`.
    public func enterpriseTeamOrganizationsBulkRemove(_ input: Operations.EnterpriseTeamOrganizationsBulkRemove.Input) async throws -> Operations.EnterpriseTeamOrganizationsBulkRemove.Output {
        try await client.send(
            input: input,
            forOperation: Operations.EnterpriseTeamOrganizationsBulkRemove.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/enterprises/{}/teams/{}/organizations/remove",
                    parameters: [
                        input.path.enterprise,
                        input.path.enterpriseTeam
                    ]
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .post
                )
                suppressMutabilityWarning(&request)
                let body: OpenAPIRuntime.HTTPBody?
                switch input.body {
                case let .json(value):
                    body = try converter.setRequiredRequestBodyAsJSON(
                        value,
                        headerFields: &request.headerFields,
                        contentType: "application/json; charset=utf-8"
                    )
                }
                return (request, body)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 204:
                    return .noContent(.init())
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// Get organization assignment
    ///
    /// Check if an enterprise team is assigned to an organization
    ///
    /// - Remark: HTTP `GET /enterprises/{enterprise}/teams/{enterprise-team}/organizations/{org}`.
    /// - Remark: Generated from `#/paths//enterprises/{enterprise}/teams/{enterprise-team}/organizations/{org}/get(enterprise-team-organizations/get-assignment)`.
    public func enterpriseTeamOrganizationsGetAssignment(_ input: Operations.EnterpriseTeamOrganizationsGetAssignment.Input) async throws -> Operations.EnterpriseTeamOrganizationsGetAssignment.Output {
        try await client.send(
            input: input,
            forOperation: Operations.EnterpriseTeamOrganizationsGetAssignment.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/enterprises/{}/teams/{}/organizations/{}",
                    parameters: [
                        input.path.enterprise,
                        input.path.enterpriseTeam,
                        input.path.org
                    ]
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.EnterpriseTeamOrganizationsGetAssignment.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.OrganizationSimple.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                case 404:
                    return .notFound(.init())
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// Add an organization assignment
    ///
    /// Assign an enterprise team to an organization.
    ///
    /// - Remark: HTTP `PUT /enterprises/{enterprise}/teams/{enterprise-team}/organizations/{org}`.
    /// - Remark: Generated from `#/paths//enterprises/{enterprise}/teams/{enterprise-team}/organizations/{org}/put(enterprise-team-organizations/add)`.
    public func enterpriseTeamOrganizationsAdd(_ input: Operations.EnterpriseTeamOrganizationsAdd.Input) async throws -> Operations.EnterpriseTeamOrganizationsAdd.Output {
        try await client.send(
            input: input,
            forOperation: Operations.EnterpriseTeamOrganizationsAdd.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/enterprises/{}/teams/{}/organizations/{}",
                    parameters: [
                        input.path.enterprise,
                        input.path.enterpriseTeam,
                        input.path.org
                    ]
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .put
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 201:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.EnterpriseTeamOrganizationsAdd.Output.Created.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.OrganizationSimple.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .created(.init(body: body))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// Delete an organization assignment
    ///
    /// Unassign an enterprise team from an organization.
    ///
    /// - Remark: HTTP `DELETE /enterprises/{enterprise}/teams/{enterprise-team}/organizations/{org}`.
    /// - Remark: Generated from `#/paths//enterprises/{enterprise}/teams/{enterprise-team}/organizations/{org}/delete(enterprise-team-organizations/delete)`.
    public func enterpriseTeamOrganizationsDelete(_ input: Operations.EnterpriseTeamOrganizationsDelete.Input) async throws -> Operations.EnterpriseTeamOrganizationsDelete.Output {
        try await client.send(
            input: input,
            forOperation: Operations.EnterpriseTeamOrganizationsDelete.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/enterprises/{}/teams/{}/organizations/{}",
                    parameters: [
                        input.path.enterprise,
                        input.path.enterpriseTeam,
                        input.path.org
                    ]
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .delete
                )
                suppressMutabilityWarning(&request)
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 204:
                    return .noContent(.init())
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
}
